:root { 
--black_900_7f:#0000007f; 
--black_900_7e:#0000007e; 
--gray_50_01:#fcfcfc; 
--red_600:#db4444; 
--blue_A700:#335fff; 
--blue_gray_100_01:#d9d9d9; 
--red_300:#e07575; 
--red_500:#ff4433; 
--black_900_3f:#0000003f; 
--gray_50:#f9f9f9; 
--green_A400:#00ff66; 
--black_900_87:#00000087; 
--yellow_400:#eeff61; 
--pink_A100:#eb7ea8; 
--black_900_01:#0d0d0d; 
--black_900_66:#00000066; 
--black_900:#000000; 
--deep_orange_600:#f74316; 
--purple_A700:#8910f1; 
--teal_900:#184947; 
--deep_orange_A700:#fa1214; 
--black_900_02:#030406; 
--gray_50_7e:#f9f9f97e; 
--black_900_4c:#0000004c; 
--gray_50_99:#f9f9f999; 
--black_900_0a:#0000000a; 
--gray_400:#b0b1b1; 
--orange_A200:#ffad33; 
--blue_gray_100_75:#d9d9d975; 
--blue_gray_100:#cbe4e8; 
--gray_800:#4d4d4d; 
--gray_900:#191919; 
--black_900_0c:#0000000c; 
--green_A400_90:#00ff6690; 
--gray_200:#f0f0f0; 
--gray_100:#f5f5f5; 
--white_A700_87:#ffffff87; 
--black_900_75:#00000075; 
--black_900_99:#00000099; 
--black_900_33:#00000033; 
--indigo_200:#a0bce0; 
--indigo_A700:#3353ff; 
--blue_gray_100_e5:#d9d9d9e5; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}